<!DOCTYPE html>
<html ng-app='listaTelefonica'>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="stylesheet" href="">

    <style>
        .selecionado {
            background-color: yellow;
        }

        .negrito {
            font-weight: bold;
        }
    </style>
    <script type='text/javascript' src='angular.js'></script>
    <script>
        // Creating a module
        angular.module('listaTelefonica', []);

        // Recovering a module and setting up a new controller
        angular.module('listaTelefonica').controller('listaTelefonicaController', function ($scope){
               $scope.app = 'Lista Telefonica'; 
               $scope.debug = false;
               $scope.nome = ''; 
               $scope.telefone = '';
               $scope.subtitulo = 'Subtitulo' ;

               $scope.operadoras = [
                    {codigo: 1, nome:'Vivo', categ: 'celular'},
                    {codigo: 2, nome:'Claro', categ: 'celular'},
                    {codigo: 3, nome:'Tim', categ: 'celular'},
                    {codigo: 4, nome:'Oi', categ: 'Fixo'},
               ];

               $scope.lista = [
                    {nome: 'Gregory', tel: '1235', cor:'blue'},
                    {nome: 'Susy', tel: '3215', cor:'red'},
                    {nome: 'Valdete', tel: '4565', cor:'black'},
               ];

               $scope.salvar = function (contato) {
                    $scope.lista.push(contato);
                    delete $scope.contato;
                    $scope.contactForm.$setPristine();
               }

               $scope.apagar = function (contatos) {
                    $scope.lista = contatos.filter(function (contato){
                          if (!contato.selecionado) return contato;  
                    });
               };

               $scope.isContatoSelecionado = function (contatos) {
                    return contatos.some(function (contato){
                        return contato.selecionado;
                    });
               };
        });
    </script>
</head>
<body ng-controller='listaTelefonicaController'>
    <h1>{{app}}</h1>
    <h3 ng-bind='subtitulo'></h3>
    
    <p ng-repeat='contato in lista' ng-show='debug'>{{contato}}</p>

    <table>
        <tr>
            <td></td>
            <td>Nome</td>
            <td>Telefone</td>
            <td>Operadora</td>
            <td>Cor</td>
        </tr>
        <tr ng-repeat='contato in lista' ng-class='{"selecionado negrito": contato.selecionado }'>
            <td><input type="checkbox" ng-model='contato.selecionado'></td>
            <td>{{contato.nome}}</td>
            <td>{{contato.tel}}</td>
            <td>{{contato.operadora}}</td>
            <td> <div style="width:20px; height:20px";" ng-style="{'background-color': contato.cor}"></div></td>
        </tr>
    </table>


    Valido: {{contactForm.$valid}}
    Invalido: {{contactForm.$invalid}}
    <form name='contactForm'>
        <input type="text" placeholder="nome" ng-model='contato.nome' required name="nome">
        <input type="text" placeholder="telefone" ng-model='contato.tel' required name="tel">
    </form>

    <div ng-show='contactForm.nome.$invalid && contactForm.nome.$dirty'>
        <p>Preencha o nome</p>
    </div>

    <div ng-show='contactForm.tel.$invalid  && contactForm.tel.$dirty'>
        <p>Preencha o telefone</p>
    </div>

    <select name="operadoras" id="oper" ng-model='contato.operadora' 
        ng-options='operadora.codigo as operadora.nome group by operadora.categ for operadora in operadoras'>
        <option value="">Selecione uma operadora</option>
    </select>

    <button ng-click='salvar(contato)' ng-disabled='contactForm.$invalid'>Salvar</button>
    <button ng-click='apagar(lista)' ng-show='isContatoSelecionado(lista)' ng-disabled='!isContatoSelecionado(lista)'>Apagar</button>
    <!-- {{10==2}} -->


    <div ng-include="'footer.html'"></div>
</body>
</html>