<!DOCTYPE html>
<html ng-app='listaTelefonica'>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="stylesheet" href="">

    <style>
        .selecionado {
            background-color: yellow;
        }

        .negrito {
            font-weight: bold;
        }
    </style>
    <script type='text/javascript' src='angular.js'></script>
    <script type='text/javascript' src='angular-messages.js'></script>
    <script type='text/javascript' src='angular-locale_fr.js'></script>
    <script type='text/javascript' src='angular-locale_pt-br.js'></script>
    <script>
        // Creating a module
        angular.module('listaTelefonica', ['ngMessages']);

        // Recovering a module and setting up a new controller
        angular.module('listaTelefonica').controller('listaTelefonicaController', function ($scope){
               $scope.app = 'Lista Telefonica';
               $scope.debug = false;
               $scope.nome = '';
               $scope.telefone = '';
               $scope.subtitulo = 'Subtitulo' ;

               $scope.operadoras = [
                    {codigo: 1, nome:'Vivo', categ: 'celular', preco: 10},
                    {codigo: 2, nome:'Claro', categ: 'celular', preco: 20},
                    {codigo: 3, nome:'Tim', categ: 'celular', preco: 30},
                    {codigo: 4, nome:'Oi', categ: 'Fixo', preco: 40},
               ];

               $scope.lista = [
                    {nome: 'Gregory', tel: '1235', cor:'blue', data: new Date()},
                    {nome: 'Susy', tel: '1123', cor:'red', data: new Date()},
                    {nome: 'Valdete', tel: '4565', cor:'black', data: new Date()},
               ];

               $scope.salvar = function (contato) {
                    $scope.lista.push(contato);
                    delete $scope.contato;
                    $scope.contactForm.$setPristine();
               }

               $scope.apagar = function (contatos) {
                    $scope.lista = contatos.filter(function (contato){
                          if (!contato.selecionado) return contato;
                    });
               };

               $scope.isContatoSelecionado = function (contatos) {
                    return contatos.some(function (contato){
                        return contato.selecionado;
                    });
               };

               $scope.ordenarPor = function (campo) {
                 $scope.criterioOrdenacao = campo;
                 $scope.direcaoOrdenacao = !$scope.direcaoOrdenacao;
               };
        });
    </script>
</head>
<body ng-controller='listaTelefonicaController'>
    <h1>{{app}}</h1>
    <h3 ng-bind='subtitulo'></h3>

    <p ng-repeat='contato in lista' ng-show='debug'>{{contato}}</p>

    <input type="text" ng-model='criterioBusca' placeholder="Digite sua busca">

    <table>
        <tr>
            <td></td>
            <td><a href="" ng-click='ordenarPor("nome")'>Nome</a></td>
            <td><a href="" ng-click='ordenarPor("tel")'>Telefone</a></td>
            <td><a href="" ng-click='ordenarPor("operadora")'>Operadora</a></td>
            <td><a href="" ng-click='ordenarPor("cor")'>Cor</a></td>
            <td>Data</a></td>
        </tr>
        <tr ng-repeat='contato in lista | filter:{nome:criterioBusca} | orderBy:criterioOrdenacao:direcaoOrdenacao'
            ng-class='{"selecionado negrito": contato.selecionado}'>
            <td><input type="checkbox" ng-model='contato.selecionado'></td>
            <td>{{contato.nome}}</td>
            <td>{{contato.tel}}</td>
            <td>{{contato.operadora}}</td>
            <td>
                <div style="width:20px; height:20px"; ng-style="{'background-color': contato.cor}"></div>
            </td>
            <td>{{contato.data | date: 'EEEE MMM dd/MM/yyy HH:MM' }}</td>
        </tr>
    </table>


    Valido: {{contactForm.$valid}}
    Invalido: {{contactForm.$invalid}}
    <form name='contactForm'>
        <input type="text" placeholder="nome" ng-model='contato.nome' ng-required="true" name="nome" ng-minlength="10">
        <input type="text" placeholder="telefone" ng-model="contato.tel" ng-required="true" name="tel" ng-pattern="/^\d{4,5}-\d{4}$/">
    </form>

    <div ng-messages='contactForm.nome.$error'>

        <div ng-message='required && contactForm.nome.$dirty'>
            <p>Preencha o nome</p>
        </div>

        <div ng-message='minlength'>
            <p>Preencha ao menos 10 caracteres</p>
        </div>

    </div>

    <div ng-show='contactForm.tel.$invalid  && contactForm.tel.$dirty'>
        <p>Preencha o telefone</p>
    </div>

    <div ng-show='contactForm.tel.$error.pattern'>
        <p>Preencha o telefone com o formato DDDDD-DDDD</p>
    </div>

    <select name="operadoras" id="oper" ng-model='contato.operadora'
        ng-options='operadora.codigo as operadora.nome + "(" + (operadora.preco | currency) + ")" group by operadora.categ for operadora in operadoras | orderBy: "nome"'>
        <option value="">Selecione uma operadora</option>
    </select>

    <button ng-click='salvar(contato)' ng-disabled='contactForm.$invalid'>Salvar</button>
    <button ng-click='apagar(lista)' ng-show='isContatoSelecionado(lista)' ng-disabled='!isContatoSelecionado(lista)'>Apagar</button>
    <!-- {{10==2}} -->


    <!-- <div ng-include="'footer.html'"></div> -->

    <h3>Filters</h3>
    {{app|uppercase}} <br>
    {{app|lowercase}}
    {{100 | number:1}}
</body>
</html>
